.App {
  text-align: center;
}

body {
  background-color: rgb(99, 102, 135) !important;
}

.weather_card {
  background-color: #fff;
  width: 35%;
  margin: 0 auto;
  padding: 0 0 30px 0;
}


.input_type {
  width: 30%;
  padding: 10px 20px;
  border-radius: 5px;
  display: block;
  margin: 20px auto;
}   
.parent_heading_section {
  margin: 60px 0;
}
.parent_heading_section h1 {
  color: #fff;
  font-weight: 800;
}
.main_weather_parent button {
      padding: 10px 30px;
      border-radius: 5px;
      letter-spacing: 3px;
      background-color: #24A0ED;
      color: #fff;
      border: none;
}
.longitude_latitude_work {
  display: flex;
  justify-content: space-around;
}
.longitude_latitude_work .label {
  font-size: 18px;
  font-weight: 600;
}
.temperature_current h4 {
  padding: 30px 0;
}